{% extends 'base.html' %}

{% block static %}
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<script>
  window.onSpotifyIframeApiReady = (IFrameApi) => {
    const elem = document.querySelector("#iframe-embed");
    const options = {
      uri: "spotify:playlist:{{playlist_id}}",
      height: "800"
    };
    IFrameApi.createController(elem, options, _ => { });
  };
</script>
{% endblock %}

{% block title %}
Playlist
{% endblock %}

{% block content %}
<h1 class="title">Setlist Generator</h1>
<div id="iframe-embed"></div>
{% endblock %}