{% extends 'base.html' %}

{% block static %}
<script src="{{ url_for('static', filename='scripts/setlist-generator/create.js', _external=True) }}"></script>
{% endblock %}

{% block title %}
Setlist Generator
{% endblock %}

{% block content %}
<h1 class="title">Setlist Generator</h1>
<div class="form">
  <div class="form-row">
    <input type="text" class="form-input" id="artist-name-input" placeholder="Artist Name" />
  </div>

  <div class="form-row">
    <button id="submit-button" onclick="submit()">Create Playlist</button>
  </div>
</div>
{% endblock %}