.recipe-ing-name,
.recipe-inst {
  width: 40%;
  margin-left: 0;
}

.recipe-ing-quantity {
  width: 10%;
}

.recipe-ing-measurement {
  width: 30%;
}

.ing-btn {
  margin: 0 1px;
}

.recipe {
  border: 1px solid var(--border-colour);
  border-radius: 5px;
  width: 15%;
  display: block;
}

#serves-editor {
  margin-left: 5px;
}

#serves-value {
  width: 10%;
}

.ingredient-quantity {
  margin: 0 5px;
}

.ingredient-line {
  display: flex;
  list-style-type: circle;
}

#tags-container {
  display: flex;
}

#recipe-tags-list {
  list-style-type: none;
  display: flex;
}

#add-tag-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.tag {
  background-image: linear-gradient(
    to bottom right,
    var(--hdr-hvr-start),
    var(--hdr-hvr-end)
  );
  color: var(--bg-colour);
  padding: 3px;
  border: 1px solid var(--bg-colour);
  border-radius: 5px;
}

.tag-input-small {
  width: 25px;
}

.tag-input-medium {
  width: 50px;
}

.tag-input-large {
  width: 75px;
}

.ing-input,
.recipe-inst {
  font-size: medium;
  margin: 0 5px;
}
