<!DOCTYPE html>
<html>

<head>
  {% if not config.DEBUG %}
  <base href="http://localhost/dashboard/" target="_self" />
  {% else %}
  <base href="http://localhost:5000/" target="_self" />
  {% endif %}

  <title>
    Personal Dashboard - {% block title %}{% endblock %}
  </title>

  {% block static %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css', _external=True) }}" />

  <script src="https://kit.fontawesome.com/40168ff6c9.js" crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <div class="header">
      <ul class="header-items" id="header-items">
        <li class="header-item">
          <a href="" class="link header-link">
            Home
          </a>
        </li>
        <li class="header-item">
          <a href="recipe-manager" class="link header-link">
            Recipe Manager
          </a>
        </li>
        <li class="header-item">
          <a href="setlist-generator" class="link header-link">
            Setlist Generator
          </a>
        </li>
      </ul>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>

</html>