{% extends 'base.html' %}

{% block static %}
<script src="{{ url_for('static', filename='scripts/recipe-manager/create.js', _external=True) }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/recipe-manager.css', _external=True) }}" />
{% endblock %}

{% block title %}
Create Recipe
{% endblock %}

{% block content %}
<h1 class="centered page-title">Add New Recipe</h1>

<div class="form">
  <div class="form-row">
    <input class="form-input" id="recipe-name-input" type="text" placeholder="Recipe Name" />
  </div>

  <div class="form-row">
    <textarea class="form-input" id="recipe-desc-input" placeholder="Description" rows="4"></textarea>
  </div>

  <div class="form-row">
    <input class="form-input" id="recipe-serves-input" type="text" inputmode="numeric" placeholder="Serves" />
  </div>

  <div class="form-block" id="ingredients-block">
    <h3>Ingredients</h3>
  </div>

  <div class="form-block" id="instructions-block">
    <h3>Instructions</h3>
  </div>

  <div class="form-row">
    <button id="submit-button" onclick="submitRecipe()">
      Upload Recipe
    </button>
  </div>
</div>
{% endblock %}