{% extends 'base.html' %}

{% block title %}
Recipe Manager
{% endblock %}

{% block content %}
<h1 class="centered">Recipe Manager</h1>

<div class="centered">
  <span class="search-bar">
    <input id="search-input" type="text" placeholder="Coming Soon..." />
    <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
    <a href="recipe-manager/create-recipe" class="link">
      <i id="create-icon" class="fa-solid fa-plus"></i>
    </a>
  </span>

  <div class="recipes">
    <ul>
      {% for recipe in recipes %}
      <a class="recipe link" href="recipe-manager/{{recipe.query_name}}">
        <h3>{{recipe.name}}</h3>
        <p>{{recipe.description}}</p>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}