:root {
  --bg-colour: #ffffff;
  --fg-colour: #03440c;
  --hdr-hvr-start: #03440c;
  --hdr-hvr-end: #012707;
  --border-colour: #000000;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
main {
  width: 100%;
  height: 100%;
  background-color: var(--bg-colour);
  color: var(--fg-colour);
}

main {
  overflow: scroll;
}

.header {
  height: 2vh;
  margin-bottom: 1px;
}

.header-items {
  display: flex;
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0;
}

.header-item {
  width: 100%;
  height: 100%;

  & > .header-link {
    height: 100%;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-colour);

    &:hover {
      background-image: linear-gradient(
        to bottom right,
        var(--hdr-hvr-start),
        var(--hdr-hvr-end)
      );
      color: var(--bg-colour);
    }
  }

  /* The last header link */
  &:not(:last-child) > .header-link {
    border-right: 1px solid var(--border-colour);
  }
}

.widget {
  display: block;
  border: 1px solid var(--border-colour);
  border-radius: 5px;
  width: 25%;
  text-decoration: none;
  color: var(--fg-colour);

  &:hover {
    background-image: linear-gradient(
      to bottom right,
      var(--hdr-hvr-start),
      var(--hdr-hvr-end)
    );
    color: var(--bg-colour);
  }
}

.form-row {
  margin: 5px 0;
  width: 20%;
}

.form-input {
  width: 40%;
}

.form-input {
  font-size: medium;
}

#submit-button {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    var(--hdr-hvr-start),
    var(--hdr-hvr-end)
  );

  &:active {
    color: var(--fg-colour);
    background-image: none;
    background-color: var(--bg-colour);
    border-color: var(--border-colour);
  }
}

.container {
  margin-top: 15px;
}

.recipe-list {
  padding-left: 15px;
}

.serves-block {
  display: flex;
  width: 50%;
}

.content {
  margin: 0 5px;
}

.link {
  color: var(--fg-colour);
  text-decoration: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

.inline {
  display: inline;
}
