############# begin Atlas config section ##########
--noNimblePath
--path:"../env/templater/src"
--path:"../env/solstice/src"
--path:"../env/db_connector/src"
--path:"../env/nim-regex/src"
--path:"../env/jsony/src"
--path:"../env/nim-unicodedb/src"
############# end Atlas config section   ##########
